.footer {
    position: absolute;
    bottom: 4px;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
}